# Example 1: Pokemon Analysis

This example was extracted from [1] (Chapter 3).

In [ ]:
from skdata import SkData
from matplotlib import pyplot as plt

import cufflinks as cf

In [36]:
cf.set_config_file(world_readable=True,offline=False)

## Loading data

In [2]:
sd = SkData('/tmp/pokemon.h5')

In [3]:
sd.import_from('../data/pokemon.json', index_col='id')

In [4]:
sd['pokemon'].summary(compute=True)

,Types,Set Values,Count Set,# Observations,# NaN
name,object,"[' Abomasnow', ' Aerodactyl', ' Aggron', ' Alt...",297,297,0
type,object,"[' Bug', ' Dark', ' Dragon', ' Electric', ' Fi...",16,297,0
typeTwo,object,"[' Bug', ' Dark', ' Dragon', ' Electric', ' Fi...",16,297,0

In [5]:
sd['pokemon'].result.head()

           name    type  typeTwo
1     Bulbasaur   Grass   Poison
2       Ivysaur   Grass   Poison
3      Venusaur   Grass   Poison
6     Charizard    Fire   Flying
12   Butterfree     Bug   Flying

## Preparing Data

In [43]:
result = sd['pokemon'].result.groupby('type').count()
result = result[['name']].rename(columns={'name': 'total'})
result['name'] = result.index
result

           total       name
type
 Bug          45        Bug
 Dark         16       Dark
 Dragon       12     Dragon
 Electric      7   Electric
 Fighting      3   Fighting
 Fire         14       Fire
 Ghost        10      Ghost
 Grass        31      Grass
 Ground       17     Ground
 Ice          11        Ice
 Normal       29     Normal
 Poison       11     Poison
 Psychic       9    Psychic
 Rock         24       Rock
 Steel        13      Steel
 Water        45      Water

In [46]:
result.iplot(kind='pie',labels='name',values='total')

Aw, snap! We don't have an account for ''. Want to try again? You can authenticate with your email address or username. Sign in is not case sensitive.

Don't have an account? plot.ly

Questions? support@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.

In [33]:
result.plot(kind='donuts', subplots=True)
plt.title('Pokemon\'s type amount')
plt.tight_layout()
plt.show()

ValueError: 'donuts' is not a valid plot kind

In [ ]:
result.plot(kind='pie', subplots=True)
plt.title('Pokemon\'s type amount')
plt.tight_layout()
plt.show()

## References 

[1] CUESTA, Hector; KUMAR, Sampath. Practical Data Analysis. Packt Publishing Ltd, 2016