 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"><li><span><a href="http://localhost:8888/notebooks/SkData.ipynb#SkData---Data-Specification" data-toc-modified-id="SkData---Data-Specification-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SkData - Data Specification</a></span></li></ul></div>

# SkData - Data Specification

SkData provide a data class to structure and organize the preprocessing data.

The data is stored in **hdf5** format. The original data is kept and all steps 
of preprocessing is kept to and applied on demand.

To import data from *csv* source:

```python
from skdata import SkData

sd = SkData('filename.h5')
sd.import_from(source='filename.csv')
```

In [1]:
try:
    from skdata import SkData
except:
    # development version
    import sys
    import os

    sys.path.insert(0, os.path.abspath('../'))
    from skdata import SkData

In [2]:
sd = SkData('/tmp/titanic.h5')

sd.import_from(
    source='../data/train.csv', 
    index_col='PassengerId',
    target_col='Survived',
    dset_id='train'
)

In [4]:
sd.get_data('train').head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"b'Braund, Mr. Owen Harris'",b'male',22.0,1,0,b'A/5 21171',7.2500,b'nan',b'S'
2,1,1,"b'Cumings, Mrs. John Bradley (Florence Briggs ...",b'female',38.0,1,0,b'PC 17599',71.2833,b'C85',b'C'
3,1,3,"b'Heikkinen, Miss. Laina'",b'female',26.0,0,0,b'STON/O2. 3101282',7.9250,b'nan',b'S'
4,1,1,"b'Futrelle, Mrs. Jacques Heath (Lily May Peel)'",b'female',35.0,1,0,b'113803',53.1000,b'C123',b'S'
5,0,3,"b'Allen, Mr. William Henry'",b'male',35.0,0,0,b'373450',8.0500,b'nan',b'S'